body {
    font-family: sans-serif;
    background-color: blanchedalmond;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 350%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.box{
    margin-top: 20px;
    font-size: 100%;
    text-align: center;
}
